<!-- begin wrapper -->
<div class="wrapper">
    <div class="p-30 bg-white">
        <!-- begin email form -->
        <form action="/" method="POST" name="emailForm" ng-submit="adminComposeCtrl.onSendBtnClicked(emailForm.$valid)" novalidate>
            <!-- begin email to -->
            <label class="control-label">To:</label>
            <div class="m-b-15">
                <input type="email" id="email-to" name="to" data-ng-model="adminComposeCtrl.reply.email" class="form-control" pattern="^[a-z]+[a-z0-9._]+@[a-z]+\.[a-z.]{2,5}$" required />
            </div>
           
            <!-- end email to -->
            <!-- begin email subject -->
            <label class="control-label">Subject:</label>
            <div class="m-b-15">
                <input type="text" id="subject" name="subject"   ng-init="adminComposeCtrl.reply.subject='Re: Contact Us Message From ' + adminComposeCtrl.reply.email" data-ng-model="adminComposeCtrl.reply.subject"   class="form-control" required data-ng-maxlength="128" data-ng-minlength="2" />
            </div>
            
            <!-- end email subject -->
            <!-- begin email content -->
            <label class="control-label">Content:</label>
            <div class="m-b-15">
                <textarea class="textarea form-control" id="content" name="content" data-ng-model="adminComposeCtrl.reply.content"  placeholder="Enter text ..." rows="12" required data-ng-maxlength="128" data-ng-minlength="5" />
            </div>
            <!-- end email content -->
            <button type="submit" class="btn btn-primary p-l-40 p-r-40">Send </button>
        </form>
        <!-- end email form -->
    </div>
</div>

<!-- begin scroll to top btn -->
<a href="javascript:;" class="btn btn-icon btn-circle btn-success btn-scroll-to-top fade" data-click="scroll-top"><i class="fa fa-angle-up"></i></a>

