<!-- begin #content -->
        <div id="content" class="content">
            <!-- begin breadcrumb -->
            <ol class="breadcrumb pull-right">
                <li><a href="javascript:;">Home</a></li>
                <li><a href="javascript:;">Form Stuff</a></li>
                <li class="active">Form WYSIWYG</li>
            </ol>
                    <!-- end panel -->
                </div>
                <!-- end col-12 -->
            <!-- end row -->
            <!-- begin row -->
            <div class="row">
                <!-- begin col-12 -->
                <div class="col-md-12">
                    <!-- begin panel -->
                    <div class="panel panel-inverse" data-sortable-id="form-wysiwyg-2">
                        <div class="panel-heading">
                            <div class="panel-heading-btn">
                                <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-expand"><i class="fa fa-expand"></i></a>
                                <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-success" data-click="panel-reload"><i class="fa fa-repeat"></i></a>
                                <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-warning" data-click="panel-collapse"><i class="fa fa-minus"></i></a>
                                <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-danger" data-click="panel-remove"><i class="fa fa-times"></i></a>
                            </div>
                            <h4 class="panel-title">WYSIHTML5</h4>
                        </div>
                        <label class="control-label">Title:</label>
                        <div class="m-b-15">
                            <input type="text" id="subject" name="subject" data-ng-model="writeCtrl.blog.title" class="form-control" required data-ng-maxlength="128" data-ng-minlength="2" />
                        </div>
                        <div id="checkboxList" class="checkboxList">
                            <div data-ng-repeat="category in writeCtrl.categories">
                                <label>
                                    <input type="checkbox" name="category" ng-model="category.selected" />
                                    
                                    <span>{{category.name}}</span>
                                </label>
                            </div>
                        </div>
                        <div class="panel-body">
                            <form action="/" name="editor" method="POST">
                                <textarea class="textarea form-control" id="wysihtml5" placeholder="Enter text ..." data-ng-model="writeCtrl.blog.body" rows="12"></textarea>
                                <button type="submit" class="btn btn-primary p-l-40 p-r-40" ng-click="writeCtrl.onCreateBtnClicked()" ng-show="!writeCtrl.showEdit">Create </button> 
                                <button type="submit" class="btn btn-primary p-l-40 p-r-40" ng-click="writeCtrl.onEditBtnClicked()" ng-show="writeCtrl.showEdit">Edit </button>
                                
                                
                            </form>
                        </div>
                    </div>
                    <!-- end panel -->
                </div>
                <!-- end col-6 -->
            </div>
            <!-- end row -->
 
        <!-- end #content -->
       
